/* Menu.css */

.barra-horizontal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333; /* Color de fondo de la barra */
    color: #fff; /* Color del texto */
    padding: 10px;
  }
  
  .mis-listas, .crear-lista, .social {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 18px;
  }
  
  .icono-mis-listas {
    font-size: 24px;
    margin-right: 5px;
  }
  
  .icono-crear-lista {
    font-size: 24px;
    margin-right: 5px;
  }
  
  .icono-social {
    font-size: 24px;
    margin-right: 5px;
  }
  
  /* Estilo para el ícono de las tres rayas (☰) */
  .icono-mis-listas::before {
    content: "\2630";
  }
  
  /* Estilo para el ícono de más (+) */
  .icono-crear-lista::before {
    content: "+";
  }
  
  /* Estilo para el ícono de tres personas (☆) */
  .icono-social::before {
    content: "\2606";
  }
  