/* MovieSearch.css */

.movie-search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.movie-search-container input {
    padding: 8px;
    font-size: 16px;
    margin-right: 10px;
}

.movie-search-container button {
    padding: 8px 12px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.movie-search-container button:hover {
    background-color: #0056b3;
}