/* Navegador.css */

.Navegador-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff8000; /* Color de fondo de la barra */
    color: #fff; /* Color del texto */
    padding: 10px;
}

.icon {
  color: white;
  cursor: pointer;
  margin: 0 10px;
}

.iniciar-sesion{
  font-size: 20px;
  color: #fff;
}

/* Otros estilos según sea necesario */