/* Social.css */

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.social-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content {
  max-width: 800px;
  width: 100%;
  margin: 20px;
}

.user-info {
  text-align: center;
  margin-bottom: 20px;
}

.user-info h2 {
  margin-bottom: 10px;
}

.user-stats {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.user-stats p {
  margin: 0 10px;
}

.add-friends-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.add-friends-button:hover {
  background-color: #0056b3;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}
/* Social.css */

/* ... (estilos existentes) */
/* Social.css */

/* ... (estilos existentes) */

.posts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.post {
  display: flex;
  gap: 20px;
  padding: 20px;
  border: 2px solid #ccc;
}

.post-left {
  width: 200px;
  /* Ancho fijo para la columna de la imagen */
}

.post-right {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.post-left img {
  width: 100%;
  max-height: 250px;
  /* Ajusta según tus necesidades */
  object-fit: cover;
}

.rating-stars {
  color: gold;
  font-size: 18px;
}

/* ... (estilos existentes) */

.icon {
  color: white;
  cursor: pointer;
  margin: 0 10px;
}
.stats-button {
  background-color: #db9e34;
  color: #fff;
  font-size: 15px;
  padding: 15px;
  margin: 5px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.stats-button:hover {
  background-color: #2980b9;
}

.add-friends-button {
  background-color: #27ae60;
  color: #fff;
  padding: 10px 15px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-friends-button:hover {
  background-color: #218c54;
}