/* Estilos para el componente de calificación con estrellas */
.star-rating {
    display: inline-block;
    font-size: 0;
    /* Elimina el espacio entre las estrellas */
}

.star {
    font-size: 24px;
    /* Tamaño de las estrellas */
    cursor: pointer;
    /* Cambia el cursor al pasar el ratón */
    color: #ccc;
    /* Color de las estrellas no seleccionadas */
    transition: color 0.2s;
    /* Transición suave al cambiar de color */
}

.selected {
    color: #ffdd00;
    /* Color de las estrella seleccionada (amarillo) */
}